<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= restaurant.name %></title>
</head>
<body>
  <%- include('partials/nav') %>
  <h1>Home Page</h1>
  <p>Status: <%= restaurant.isOpen ? "Yes we are open!" : "Sorry, we are closed." %></p>
  <p>Restaurant name: <%= restaurant.name %></p>
  <p>Restaurant address: <%= restaurant.address %></p>
  <p>Phone number: <%= restaurant.phone %></p>
</body>
</html>
